html {
 height: 100%;
 background:
  radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
  radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
  linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
  linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
  linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
  linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
  background-size:40px 60px;
  color: #452408;
}
h1 {
  font-family: 'Bonbon', cursive;
  font-family: 'Molle', cursive;
  font-family: 'Pacifico', cursive;
  font-family: 'Mr Bedfort', cursive;
  font-size: 8rem;
  text-align: center;
  line-height: 140%;
  color: #452408;
  padding: 0;
  margin: 0 0 40px 0;
}
h2 {
  font-family: 'Bonbon', cursive;
  font-family: 'Molle', cursive;
  font-family: 'Pacifico', cursive;
  font-family: 'Mr Bedfort', cursive;
  font-size: 2rem;
  text-align: center;
  line-height: 100%;
  color: #452408;
  padding: 0;
  margin: 0;
 }
#makemusic {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}
.xylophone {
  position: relative;
  min-width: 350px;
  height: 400px;
  float: left;
  z-index: 1;
  margin: 0 auto;
  align: center;
  flex: 1;
}
.railup, .raildown {
  height: 35px;
  width: 85%;
  margin: 0 auto;
  background: #452408;
  border-radius: 25px;
  box-shadow: 10px 10px 5px rgba(136, 136, 136, 1);
  position: relative;
  z-index: -1;
}
.raildown {
  top: 33%;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
  position: relative;
}
.railup {
  top: 66%;
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
}
.note {
  border-radius: 25px;
  margin: auto 1%;
  position: relative;
  width: 10%;
  float: left;
  display: inline-block;
  align: center;
  vertical-align: middle;
  box-shadow: 10px 10px 5px rgba(136, 136, 136, .5);
  cursor: url("./media/images/cursor.cur"), pointer;
  transition: all 0.07s;
}
.A {
  background: #1c7ade;
  background: -webkit-gradient(linear-gradient(141deg, #1c7ade 0%, #2292de 51%, #34a7e8  75%));
  background: -webkit-linear-gradient(141deg, #1c7ade 0%, #2292de 51%, #34a7e8  75%);
  background: -moz-linear-gradient(141deg, #1c7ade 0%, #2292de 51%, #34a7e8 75%);
  background: -o-linear-gradient(141deg, #1c7ade 0%, #2292de 51%, #34a7e8  75%);
  background: linear-gradient(141deg, #1c7ade 0%, #2292de 51%, #34a7e8  75%);
  height: 70%;
  top: 15%;
}
.B {
  background: #2da3c7;
  background: -webkit-gradient(linear-gradient(141deg, #2da3c7 0%,#2ca2c6 51%, #129fca 75%));
  background: -webkit-linear-gradient(141deg, #2da3c7 0%,#2ca2c6 51%, #129fca 75%);
  background: -moz-linear-gradient(141deg, #2da3c7 0%, #2ca2c6 51%, #129fca 75%);
  background: -o-linear-gradient(141deg, #2da3c7 0%, #2ca2c6 51%, #129fca 75%);
  background: linear-gradient(141deg, #2da3c7 0%, #2ca2c6 51%, #129fca 75%);
  height: 64%;
  top: 18%;
}
.C {
  background: #e85ab7;
  background: -webkit-gradient(linear-gradient(141deg, #e85ab7 0%, #c53493 51%, #e620a2  75%));
  background: -webkit-linear-gradient(141deg, #e85ab7 0%, #c53493 51%, #e620a2  75%);
  background: -moz-linear-gradient(141deg, #e85ab7 0%, #c53493 51%, #e620a2 75%);
  background: -o-linear-gradient(141deg, #e85ab7 0%, #c53493 51%, #e620a2  75%);
  background: linear-gradient(141deg, #e85ab7 0%, #c53493 51%, #e620a2  75%);
  height: 100%;
}
.D {
  background: #de55fb;
  background: -webkit-gradient(linear-gradient(141deg, #de55fb 0%, #bb19dc 51%, #d300ff  75%));
  background: -webkit-linear-gradient(141deg, #de55fb 0%, #bb19dc 51%, #d300ff  75%);
  background: -moz-linear-gradient(141deg, #de55fb 0%, #bb19dc 51%, #d300ff 75%);
  background: -o-linear-gradient(141deg, #de55fb 0%, #bb19dc 51%, #d300ff  75%);
  background: linear-gradient(141deg, #de55fb 0%, #bb19dc 51%, #d300ff  75%);
  height: 94%;
  top: 3%;
}
.E {
  background: -webkit-gradient(linear-gradient(141deg, #6045bd 0%, #5537bb 51%, #4420bf  75%));
  background: -webkit-linear-gradient(141deg, #6045bd 0%, #5537bb 51%, #4420bf  75%);
  background: -moz-linear-gradient(141deg, #6045bd 0%, #5537bb 51%, #4420bf 75%);
  background: -o-linear-gradient(141deg, #6045bd 0%, #5537bb 51%, #4420bf  75%);
  background: linear-gradient(141deg, #6045bd 0%, #5537bb 51%, #4420bf  75%);
  background: #6045bd;
  height: 88%;
  top: 6%;
}
.F {
  background: #002990;
  background: -webkit-gradient(linear-gradient(141deg, #002990 0%, #0537b4 51%, #0a40c7 75%));
  background: -webkit-linear-gradient(141deg, #002990 0%, #0537b4 51%, #0a40c7 75%);
  background: -moz-linear-gradient(141deg, #002990 0%, #0537b4 51%, #0a40c7 75%);
  background: -o-linear-gradient(141deg, #002990 0%, #0537b4 51%, #0a40c7 75%);
  background: linear-gradient(141deg, #002990 0%, #0537b4 51%, #0a40c7 75%);
  height: 82%;
  top: 9%;
}
.G {
  background: #7e42ff;
  background: -webkit-gradient(linear-gradient(141deg, #7e42ff 0%, #6f2dff 51%, #5b0fff  75%));
  background: -webkit-linear-gradient(141deg, #7e42ff 0%, #6f2dff 51%, #5b0fff  75%);
  background: -moz-linear-gradient(141deg, #7e42ff 0%, #6f2dff 51%, #5b0fff 75%);
  background: -o-linear-gradient(141deg, #7e42ff 0%, #6f2dff 51%, #5b0fff  75%);
  background: linear-gradient(141deg, #7e42ff 0%, #6f2dff 51%, #5b0fff  75%);
  height: 76%;
  top: 12%;
}
.H {
  background: #417094;
  background: -webkit-gradient(linear-gradient(141deg, #417094 0%, #32668e 51%, #206294  75%));
  background: -webkit-linear-gradient(141deg, #417094 0%, #32668e 51%, #206294  75%);
  background: -moz-linear-gradient(141deg, #417094 0%, #32668e 51%, #206294 75%);
  background: -o-linear-gradient(141deg, #417094 0%, #32668e 51%, #206294  75%);
  background: linear-gradient(141deg, #417094 0%, #32668e 51%, #206294  75%);
  height: 58%;
  top: 21%;
}
.note p {
  align: center;
  text-align: center;
  color: #ddd;
}
.note p.soflege {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  line-height: 300%;
}
.soflege {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  position: relative;
  color: #ddd;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border: 5px #b996ad solid;
  text-align: center;
}
.play {
  transform: scale(1.1);
  border: 5px yellow solid;
  box-shadow: 0 0 10px yellow;
}
.sheetmusic {
  line-height: 80px;
  min-width: 350px;
  min-height: 300px;
  padding: 10px;
  background: #fb1;
  border: 5px #ed9300 solid;
  flex: 1;
}
.musicoptions {
  line-height: 200%;
  margin-bottom: 10px;
  text-align: center;
}
.scale {
  width: 100%;
  height: 90px;
  background: repeating-linear-gradient(
    0deg,
    #ed9300,
    #ed9300 10px,
    #fb1 10px,
    #fb1 20px
  );
}
.clef {
  font-size: 160px;
  line-height: 80px;
  display: inline;
  font-family: 'segoe ui symbol'; 
}
.notehead {
  width: 60px;
  height: 60px;
  line-height: 100%;
  text-align: center;
  display: inline;
  color: white;
  font-size: 12px;
  padding: 5px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  position: relative;
}
.Anh {
  background: #1c7ade;
  top: -32px;
}
.Bnh {
  background: #2da3c7;
  top: -42px;
}
.Cnh {
  background: #e85ab7;
  top: 20px;
}
.Dnh {
  background: #de55fb;
  top: 10px;
}
.Enh {
  background: #6045bd;
}
.Fnh {
  background: #002990;
  top: -12px;
}
.Gnh {
  background: #7e42ff;
  top: -22px;
}
.Snh {
  background: #417094;
  top: -52px;
}
.lyrics p{
  margin: 30px 0 30px 60px;
  line-height: 100%;
}
button {
  background: #fb1;
  padding: 15px 20px 5px 20px;
  border-radius: 20px;
  border: 5px #ed9300 solid;
  box-shadow: 6px 6px 3px rgba(136, 136, 136, .5);

}
.clearfix {
  clear: both;
}
.close {
  text-align: right;
}
.hide, .btnhide {
  display: none;
}
.fullwidth {
  width: 100%;
  float: none;
  padding-bottom: 80px;
}
@media screen and (max-width: 760px) {
  h1 {
    font-size: 3.5em;
  }
  .sheetmusic {
    margin-top: 40px;
  }
  .railup, .raildown {
    display: none;
  }
  .soflege {
    border: none;
  }
}
